<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <span class="avatar">
        <img src="https://0.gravatar.com/avatar/20b14a4bc9c486054f5c5e2f60740cf2?s=150" alt="" />
      </span>
      <h1>Vasim Akram</h1>
      <p>Full-Stack Developer</p>
      <p>(Java, Node, Angular, RabbitMQ, Docker, ELK Stack)</p>
    </header>
    <footer>
      <ul class="icons">
        <li>
          <a href="https://www.linkedin.com/in/vasim-akram-6ba5b5a9/" class="fa-linkedin">Instagram</a>
        </li>
        <li>
          <a href="https://github.com/vasim-akram" class="fa-github">Twitter</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/4205001/vasim-akram" class="fa-stack-overflow">Facebook</a>
        </li>
      </ul>
    </footer>
  </section>
</div>